<% provide(:title, 'About')%>
<h1> About This Site </h1>
<p>
This site was designed for 6.170 at MIT.<br/>
A specials thanks to <a href="stackoverflow.com">stackoverflow.com</a> and <a href="ruby.railstutorial.org">ruby.railstutorial.org</a>.
</p>
