<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @user.name %>
    </h1>
  </section>
  <div class="span8">
    <% if @user.pages.any? %>
      <h3> Pages (<%= @user.pages.count %>)</h3>
      <%= link_to 'View all pages', pages_path %>
    <% end %>
  </div>
</div>
</br>
<%= link_to 'View all users', users_path %>
