<% provide(:title, "Javascript") %>

<h3>Javascript Snippet</h3>
</br>
<p>
var xhr = new XMLHttpRequest(); <br/>
xhr.onreadystatechange = function() { </br>
  if (xhr.readyState == 1) { </br>
    console.log('The call to open(...) succeeded.'); </br>
  } </br>
  if (xhr.readyState == 2) { <br/>
    console.log('The call to send(...) succeeded. Waiting for response...'); <br/>
  } </br>
  if (xhr.readyState == 3) { <br/>
    console.log('The response is coming in!'); <br/>
  } <br/>
  if (xhr.readyState == 4) { <br/>
    console.log('We now have the complete response: ' + xhr.response); <br/>
  } <br/>
}<br/>
xhr.open('GET', '<%= root_url %>pages/<%= @page.id %>/show', true); <br/>
xhr.send('');
</p>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', current %>
