<h1>Listing sites</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Count</th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.id %></td>
    <td><%= site.count %></td>
  </tr>
<% end %>
</table>
